p {
    font-family: 'Open Sans', sans-serif;
}

.partOfSpeech {
    font-size: 19px;
    font-style: italic;
    margin-bottom: 0px;
}
.definition {
    font-size: 17px;
}

.example {
    font-style: italic;
    font-weight: 300;
}